.one{
	width: 100px;
    /* padding: 50px; */
	height: 100px;
	border: 2px solid red;
}
.two{
    /*  width: 100px;
	padding: 50px;
	height: 100px;
	border: 2px solid red; */ 
	box-sizing: border-box;
}