<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Anime | OP</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
<div class="warpper-top">
<div class="top-sh1"></div>
<div class="banner-area">
<div class="banner-left-sh1"></div>
<div class="banner-bg1">
<div class="banner-txt">
<div class="banner-txt-left">
<h1> Anime</h1>
</div>
<div class="banner-txt-right">
<p class="txt-1">Mob Psycho 100 is a Japanese webcomic created by ONE, which began publication on Ura Sunday on April 18, 2012, and concluded on December 22, 2017. It has been available online on Shogakukan's mobile app MangaONE since December 2014.</p>
</div>
</div>
<div class="nav-area">
<ul class="navigation">
  <li><a href="#">Home</a></li>
  <li><a href="#">Anime List</a></li>
  <li><a href="#">Forum</a></li>
  <li><a href="#">Read Manga</a></li>
  <li><a href="#">Downloads</a></li>
  <!-- <li><a href="#">About Us</a></li> -->
  <li><a href="#">Report</a></li>
  <li><a href="#">Contact us</a></li>
</ul>
</div>
<div class="nav-sh"></div>
</div>
<div class="banner-right-sh1"></div>
</div>
</div>
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="images/design.gif" class="copyright" alt="htmltemplates.net"></a>
<div class="warpper-mid">
<div class="mid-gap"></div>
<div class="mid-left">
<h2 style="padding: 20px 0px 5px 30px;">Mob Psycho 100<span>(SUB)</span></h2>
<p class="txt-2" style="padding: 10px 0px 5px 30px;"> Kageyama Shigeo (a.k.a. "Mob") is a 8th grader with psychic abilities. He could bend spoons and lift objects with his mind from a young age, but he slowly began to withhold from using his abilities in public due to the negative attention he kept receiving. Now, the only thing he wants is to become friends with a girl in his class, Tsubomi. With his psychic "mentor" (who has no psychic powers), he continues his daily life, attempting to realize his purpose in life. </p>
<ul class="item-1">
  <li> relateability towards or of a character is unnecessary, in my opinion. </li>
  <li> Oh well. So far 90% of the people who did get it have enjoyed the show and listed it as one of their favourites, especially after season 2. </li>
</ul>
<div>
<ul class="readmore-1">
  <li><a href="#">read more</a></li>
</ul>
</div>
<h3 style="padding: 10px 0px 5px 30px;">Recent <span>Comments</span></h3>
<ul class="item-1">
  <li>The series were great but I cant help to bring myself to like the master. After all the cool lines he said to Mob, yet he is still using and taking advantage of him.</li>
  <li> I read some mob psycho100 fanfics and they were pretty good and people keep hyping this up so maybe i'll start this... </li>
  <li> Heard this series was utterly fantastic, never was able to quite get to it, I’m trying it out now!!! I’m excited!! </li>
</ul>
<div>
<ul class="readmore-1">
  <li><a href="#">read more</a></li>
</ul>
</div>
</div>
<div class="mid-right">
<div class="topround-bg1">&nbsp;</div>
<div class="midround-bg1">
<h4 style="padding: 5px 50px 5px 115px;">Cover</h4>
<div style="padding: 10px 10px 0px 72px;"><img src="images/pict-1.jpg" alt="#" border="0"></div>
<p class="txt-2" style="padding: 10px 50px 10px 54px;">  <br>
</p>

<div class="mainmenu">
<ul>
  <li><a href="#">Mob Psycho 100 Episode 1</a></li>
  <li><a href="#">Mob Psycho 100 Episode 2</a></li>
  <li><a href="#">Mob Psycho 100 Episode 3</a></li>
  <li><a href="#">Mob Psycho 100 Episode 4</a></li>
  <li><a href="#">Mob Psycho 100 Episode 5</a></li>
  <li><a href="#">Mob Psycho 100 Episode 6</a></li>
  <li><a href="#">Mob Psycho 100 Episode 7</a></li>
  <li><a href="#">Mob Psycho 100 Episode 8</a></li>
  <li><a href="#">Mob Psycho 100 Episode 9</a></li>
  <li><a href="#">Mob Psycho 100 Episode 10</a></li>
</ul>
</div>

</div>
<div class="botround-bg1">&nbsp;</div>
</div>
<div class="mid-gap"></div>
</div>
<div class="warpper-bot">
<!-- <div class="footer-left">
<ul class="footer-nav">
   <li style="border: medium none ;"><a href="#">Home</a></li> -->
 <!--  <li><a href="#">About us</a></li>
  <li><a href="#">Recent Articles</a></li>
  <li><a href="#">Email</a></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">Links</a></li>
  <li><a href="#">Contact us</a></li>
</ul> -->
<div class="footer-right">
<p class="footer-txt">&copy;
Designed by <a class="footer-link" target="_blank"
 href="http://www.htmltemplates.net/">HTML Templates</a>
</p>
</div>

</div>
</div>

</body>
</html>